$font-family-main: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
$font-family-secondory:'Josefin Sans', sans-serif;





// Color
$color-body:#F1F3F6;
$color-primary:#8100ff;
$color-text-content: #25265eb3;
$color-heading: #25265e;   
$color-gray: #ecedee;


$color-footer:rgba(113, 31, 246, 0.66);
$color-white:#fff;
$color-light-yellow:rgb(255, 227, 143);
$color-ex-light-yellow:rgba(250, 236, 120, 0.33);
$color-dark-yellow:#FFC000;
$color-gridiant-btn : #8100ff;
$color-gridiant-selected-btn : linear-gradient(180deg, rgba(80, 84, 255, 0.42) 0%, rgba(113, 31, 247, 0.65) 100%);


// Font sizes
$fSize-ex-sm: 1.125rem; //18 // use
$fSize-sm: 1.1375rem; //22 //use
$fSize-md: 1.7625rem; //25 //use
$fSize-lg : 1.875rem; //30
$fSize-ex-lg : 2.3125rem; //37
$fSize-lg-heading : 4.3125rem; //69