nav {
    .sub-menu {
        margin-top: 13px;
        background: $color-light-yellow;

        @include breakpoint-down(small) {
            height: 100vh;
            position: absolute;
            z-index: 999;
            width: 100%;
        }

        .menu-links {
            @include breakpoint-down(small) {
                flex-direction: column;
                // width: 100%;
            }

            .location {
                h2 {
                    margin: 0;
                }

                p {
                    margin: -5px 0 0 0;
                    font-size: 14px;
                }


                @include breakpoint-down(small) {
                    width: 100%;
                    margin-top: 10px;
                }
            }

            .menu-item {
                line-height: 42px;
               
                @include breakpoint-down(small) {
                    flex-direction: column;
                    width: 100%;
                    text-align: center;
                }

                .menu-sub-item {
                    cursor: pointer;
                    padding: 5px 25px;
                    transition: color .3s linear;

                    &:hover {
                        background: $color-gridiant-selected-btn;
                        color: #fff;
                    }
                }

                a {
                    font-weight: 700;
                }
            }

        }
    }
}