.profile__page {
    .profile {
        .profile__content {

            .user__book {
                img{
                    width: 50px;
                    height: 50px;

                    border-radius: 100%;
                }
            }

        }
    }
}